exportPattern("^[^\\.]")
useDynLib(ExtremalDep)

import(numDeriv)
import(evd)
importFrom(sn,qsn)
importFrom(sn,rmst)
import(quadprog)
importFrom(copula,An)
importFrom(gtools,permutations)

export(matrix.trace)
export(matrix.sqrt)
export(FitGev)
export(Dist2Dist)
export(GevLogLik)
export(MomEst)