import(evd)
import(quadprog)
import(CompRandFld)
import(copula)
import(gtools)
import(mvtnorm)
importFrom(numDeriv,jacobian)
importFrom(numDeriv,hessian)
importFrom(matrixcalc,matrix.trace)
exportPattern("^[^\\.]")
export(matrix.sqrt)